@import '_resources-mobile-styles.scss';
@import '_shared-styles.scss';

$containerWidth: 50%;

#fileContainer {
    height: 100px;
    display: flex;
    background-size: cover;
    position: relative;
    margin-top: 10%;
    max-width: $containerWidth - 40;
    border-radius: 12px;
    margin: 5% auto;
    background-color: #fa0081;
    box-shadow: 5px 10px 18px #888888;
    justify-content: center;

    a {
        color: white;
        display: inline-block;
        align-content: center;
        position: absolute;
        margin: 15% auto;
        max-width: $containerWidth*2;
        font-size: 24px;
    }

}



#colorHuntContainer {
    height: 500px;
    display: flex;
    background-size: cover;
    position: relative;
    margin-top: 10%;
    max-width: $containerWidth;
    border-radius: 12px;
    
    margin: 5% auto;
    box-shadow: 5px 10px 18px #888888;
    
    #colorHuntFrame {
        display: inline-block;
        align-content: center;
        position: absolute;
        margin: auto auto;
        max-width: $containerWidth*2;
        border: 2px solid black;
        //padding: 20px;
    }
    
}